* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.all {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(https://daozsddneakegwxtwfhb.supabase.co/storage/v1/object/public/images/server_images/login-pic.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left h1 {
    color: #141414c0;
    margin: 0 5rem 0 5rem;
    font-size: 4rem;
    border-radius: 20px;
    background: #e7e7e763;
    box-shadow: 0 15px 40px #00000059;
    padding: 2rem;
}

.right {
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}

#logo-login {
    display: block;
    margin: 0rem auto 0rem auto;
    width: 40%;
}

.form-section {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose {
    width: 500px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.choose h3 {
    cursor: pointer;
    margin: 2rem 0 2rem 0;
}

.choose h3 a {
    text-decoration: none;
    color: #353535;
}

.choose-left,
.choose-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#active {
    color: #353535;
    box-shadow: inset 0 3px 6px #0000004d;
    background-color: #EBC7E6;
    padding: 0rem 1rem 0.5rem 1rem;
    border-radius: 70px;
}

#unactive {
    box-shadow: inset 0 3px 6px #0000004d;
    border-radius: 70px;
    padding: 0rem 1rem 0.5rem 1rem;
}

#unactive:hover {
    box-shadow: inset 0 3px 6px #0000004d;
    background-color: #eeeeee;
    padding: 0rem 1rem 0.5rem 1rem;
    border-radius: 70px;
    transition: 0.2s;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form label {
    color: #444;
}

.form input {
    padding: 0.4rem 1rem;
    border-radius: 18px;
    border: none;
    background: #e0e0e0;
    outline: none;
    margin: 0;
    box-shadow: inset 2px 2px 2px #00000040;
}

.forgot {
    color: #444;
    text-align: right;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.lower {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .lower{
    width: 100%;
}

.link-home{
    text-decoration: none;
}
.login-btn {
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    background: #EBC7E6;
    cursor: pointer;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.login-btn:hover {
    background: #A084DC;
    color: #f0f8ff;
    transition: 0.2s;
}

.register-text {
    margin-top: 10px;
    text-align: center;
}

.password-box {
    position: relative;
    display: flex;
    flex-direction: column;
}


#eye {
    position: absolute;
    right: 5%;
    top: 55%;
    cursor: pointer;
    color: #555;
}